.oyun{
    display: none;
}
h1{
    text-align: center;
    
}
.show
{
    background-color: white;
    width: 100%;
    height: 50vh;
    overflow: scroll;

}
.main
{
    background-image: url(./1022385_wallpapers-papper-crumpled-paper-4-5000x3750_5000x3750_h.webp);
    width: 100%;
    height: 100vh;
}
.main-2
{
    background-image: url(./5459607.jpg);
    width: 100%;
    height: 100vh;
}
#message-text
{
    margin-top: 20px;
}
#tesdiq{
    background-color:#fff6a9;
    box-shadow: 2px 3px 10px#ffa500 ;
    color: black;
}
#tesdiq:hover
{
    color: black;
}
#send
{
    width: 20%;
    color: red;
    border: 1px solid lightcoral;
    background-color: black;
   
}
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

/*Sehifemize xos gelmisiz yazisi burdan baslayir*/
#main_h1 {
  font-size: 4em;
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}



@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
/*sehifemize xos gelmisiz yazisi burda bitir*/
